<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Fandom - {{fandom_name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fandom.css') }}">
    <!-- <link rel="stylesheet" href="../static/fandom.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="{{ user.photo }}" alt="" class="rounded-circle">
                <h3>{{ user.name }}</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Your
                        fandoms</a>
                    <ul class="collapse list-unstyled collapse show" id="homeSubmenu">
                        {% for fandom in your_fandoms %}
                        <li>
                            <a href="{{ fandom.url }}">{{ fandom.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Recommended</a>
                    <ul class="collapse list-unstyled collapse show" id="pageSubmenu">
                        {% for fandom in recommended_fandoms %}
                        <li>
                            <a href="{{ fandom.url }}">{{ fandom.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/Estefaniajim/Fandom-Twitter/" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://devpost.com/lima1756" class="article">DevPost</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <!-- <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span> </span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button> -->

                    <h1>{{fandom_name}}</h1>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">All Hashtags!</a>
                            </li>
                            {% for ht in hashtags %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ ht.url }}">{{ ht.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>


            <div id="tweets_container">

                {% for tweet in tweets %}
                <div class="tweet-wrap">
                    <div class="tweet-header">
                        <img src="{{ tweet.photo }}" alt="" class="avator">
                        <div class="tweet-header-info">
                            {{ tweet.name }} <span><br />@ {{ tweet.handle }}</span><span>
                            </span>


                        </div>


                    </div>
                    <div class="tweet-body">
                        <p>{{ tweet.body }}</p>
                    </div>

                    <div class="tweet-info-counts">

                        <div class="comments">

                            <svg class="feather feather-message-circle sc-dnqmqq jxshSx"
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" aria-hidden="true">
                                <path
                                    d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                </path>
                            </svg>
                            <div class="comment-count">{{ tweet.replies }}</div>
                        </div>

                        <div class="retweets">
                            <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <polyline points="17 1 21 5 17 9"></polyline>
                                <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                                <polyline points="7 23 3 19 7 15"></polyline>
                                <path d="M21 13v2a4 4 0 0 1-4 4H3"></path>
                            </svg>
                            <div class="retweet-count">{{ tweet.retweet }}</div>
                        </div>

                        <div class="likes">
                            <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                <path
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                            <div class="likes-count">
                                {{ tweet.likes }}
                            </div>
                        </div>
                        <div class="date"><small>{{ tweet.date }}</small></div>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

        <script>
            let magicGrid = new MagicGrid({
                container: "#tweets_container",
                items: 5,
                animate: true,
            });
            console.log(magicGrid)

            magicGrid.listen();
        </script>

</body>

</html>